* {
    /* outline: 1px solid #00f; */
}

.Wrap {
    background: #333;
}

.slick-track,
.slick-list {
    transition-delay: 0.03s;
}

/* header Start */
.header {
    background: #ddd;
    border-bottom: 1px solid #1c20f0;
}

.header h1 {
    display: inline-block;
    font-size: 0;
}

.header img {
    width: 200px;
    object-fit: cover;
}

.header .inner {
    display: flex;

    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}


.header .gnb {
    margin: 0 100px;
    width: 100%;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;

}

.header .gnb>ul>li {
    position: relative;

}

.header .gnb>ul>li a {
    color: #000;
    font-weight: 500;
}

.header .gnb>ul>li a:hover {
    color: #303030;
    font-weight: 500;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -40%);

    width: 1px;
    height: 12px;
    background: #1d1d1d;
}

.header .counting {
    display: flex;
}

.header .right {
    margin: 0 auto;
}

.header .right i {
    color: #000;
    font-size: 30px;
}

.header .right i:hover {
    color: #1d1d1d;
    font-size: 30px;
}

.header .bottom {
    display: block;
    top: 100px;
    left: 0;
    right: 0;
    background: #1b394e;
    line-height: 50px;
    z-index: 999;


}

.header .bottom .on {

    background: #fff;
}

.header .bottom a {
    color: #fff;
    background: #787878;
    width: 210px;
    padding: 0 5px;

}

.header .bottom .bar_inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.header .bottom ul {
    float: 1;
}

.header .bottom li {
    list-style: none;

}

.header .bar_inner li>ul {
    display: block;

}

.header .bar_inner>ul>li {
    position: relative;
}

.bar_inner {
    display: flex;
    justify-content: space-between;

}

.bar_inner a {
    display: block;
}

.bar_inner>ul {
    display: flex;
    gap: 60px;
}

.bar_inner>ul>li {
    position: relative;

}

.bar_inner .smenu {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    width: 210px;

    /* border: 3px solid #fff; */
    /* text-align: left; */
    line-height: 40px;
    color: #fff;
    background: #333;

    height: 0;
    transition: 0.5s;
    overflow: hidden;
}

.bar_inner>ul:hover>li .smenu {
    height: 160px;
}

.bar_inner>ul>li .smenu li {
    border-top: 1px solid #fff;
}

.smenu li>a {
    margin: 0 0 0 5px;
    text-align: left;

}

.smenu li>a:hover {
    background: #525252;
}


.bar_inner>ul::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;

    /* background: tomato; */
    z-index: 999;

    height: 0;
    transition: 0.5s;
}



.bar_inner>ul:hover::before {
    height: 210px;
}

.bar_inner .xi-arrow-down {
    margin: 0 0 0 10px;
}









/* header Finish */


/* main Start */
.mainVisual {}

.mainVisual .mainSlide figure {
    position: relative;
    height: 80vh;
    z-index: 1;
    /* background-size: 100% 100% */
}

.mainVisual .mainSlide .slide01 {
    background: url(../img/slider01.jpg) no-repeat center center/cover;

}

.mainVisual .mainSlide .slide02 {
    background: url(../img/slider02.jpg) no-repeat center center/cover;

}

.mainVisual .mainSlide .slide03 {
    background: url(../img/slider03.jpg) no-repeat center center/cover;

}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 100px;
    height: 10px;
    background: #f9f9f9;
    margin: 0 10px;
    /* border-radius: 10%; */

}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #1c20f0;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

.mainVisual .mainSlide .content {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;

}

.mainVisual .mainSlide h2 {
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0 0 5px #333;
    line-height: 50px;
    color: #fff;
}

.mainVisual .mainSlide h2 {
    margin: 0 0 100px 0;
}

.mainVisual .con {
    position: relative;
    width: 1200px;
    margin: 0 auto;

}

.mainVisual .xi-arrow-bottom {
    position: absolute;
    bottom: 0%;
    left: 100%;
    transform: translate(-50%, -50%);

    /* background-color: #555; */
    color: #fff;
    font-size: 50px;

    /* border: 1px solid #fff; */
    /* border-radius: 50%; */
}




.subVisual {
    padding: 100px 0;
    background: #000;
}

.subVisual .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 220px;
}

.subVisual .container02 {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 220px;
}

.subVisual .container03 {
    position: relative;
    width: 1200px;

    margin: 0 auto;
    text-align: left;
}

.subVisual .container04 {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 220px;

}



.subVisual .box {
    position: absolute;
    width: 1200px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.subVisual .box h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #fff;
    text-align: center;

}

.subVisual .box p {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 30px 0;
    line-height: 25px;
    color: #fff;
    text-align: center;
}

.subVisual .box a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    background: #333;
}

.subVisual .box a:hover {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    padding: 10px;
    background: #fff;
    border: 1px solid#fff;
}

.subVisual .box .p01 {
    font-size: 10px;
    font-weight: 300;
    /* margin: -10px 0 0 0; */
    line-height: 25px;
    color: #fff;
    text-align: center;
}

.subVisual .box .p02 {
    font-size: 10px;
    font-weight: 300;
    /* margin: -10px 0 0 0; */
    line-height: 25px;
    color: #fff;
    text-align: center;
}

.subVisual .container03 .box3 {
    background: url(../img/main-img03.jpg);
    height: 440px;
    margin-bottom: 50px;

}

.subVisual .box3 h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 50px 0 0 200px;
    color: #fff;
    text-align: left;

}

.subVisual .box3 p {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 30px 0;
    padding: 10px 0 0 200px;
    line-height: 25px;
    color: #fff;
    text-align: left;
}

.subVisual .box3 a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    background: #333;
}

.subVisual .box3 a:hover {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    padding: 10px;
    background: #fff;
    border: 1px solid#fff;
}

/* { main img1  */
.subVisual .main_img {
    display: block;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.subVisual .main_img figure {
    position: relative;
}

.subVisual .main_img .plus01 {
    position: absolute;
    top: 200px;
    left: 235px;
    transform: translate(-50%, -50%);


    font-size: 30px;
    color: #333;
    /* border: 2px solid #fff; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    background: #fff;
    opacity: 0.9;
}

.subVisual .main_img .plus02 {
    position: absolute;
    top: 300px;
    left: 655px;
    transform: translate(-50%, -50%);

    font-size: 30px;
    color: #333;
    /* border: 2px solid #fff; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    background: #fff;
    opacity: 0.9;
}

.subVisual .main_img .plus03 {
    position: absolute;
    top: 200px;
    right: 135px;
    transform: translate(-50%, -50%);

    font-size: 30px;
    color: #333;
    /* border: 2px solid #fff; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    background: #fff;
    opacity: 0.9;
}

.subVisual .main_img .select01 {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.subVisual .main_img .select02 {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.subVisual .main_img .select03 {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.subVisual .main_img p {
    background: #fff;
    color: #000;
    font-size: 20px;
    padding: 10px;
}

.subVisual .main_img i {
    position: absolute;
    top: 370px;
    right: 0;
    font-size: 20px;
    transform: translate(-50%, -30%);
}

/* mian img1 } */


/* { main img2 */

.subVisual .main_img2 {
    display: block;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.subVisual .main_img2 figure {
    position: relative;
}

.subVisual .main_img2 .plus04 {
    position: absolute;
    top: 200px;
    left: 330px;
    transform: translate(-50%, -50%);

    font-size: 30px;
    color: #333;
    /* border: 2px solid #fff; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    background: #fff;
    opacity: 0.9;
}

.subVisual .main_img2 .plus05 {
    position: absolute;
    top: 100px;
    left: 600px;
    transform: translate(-50%, -50%);

    font-size: 30px;
    color: #333;
    /* border: 2px solid #fff; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    background: #fff;
    opacity: 0.9;
}

.subVisual .main_img2 .plus06 {
    position: absolute;
    top: 200px;
    right: 220px;
    transform: translate(-50%, -50%);

    font-size: 30px;
    color: #333;
    /* border: 2px solid #fff; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    background: #fff;
    opacity: 0.9;
}

.subVisual .main_img2 .select04 {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.subVisual .main_img2 .select05 {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.subVisual .main_img2 .select06 {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.subVisual .main_img2 p {
    background: #fff;
    color: #000;
    font-size: 20px;
    padding: 10px;
}

.subVisual .main_img2 i {
    position: absolute;
    top: 370px;
    right: 0;
    font-size: 20px;
    transform: translate(-50%, -30%);
}

/* main img2 } */

.car_color {
    display: block;
    padding: 100px 0;
    text-align: center;
    background: #fff;
}

.car_color h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #000;

    text-align: center;
}

.car_color p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 30px 0;
    color: #333;
    text-align: center;
}

.car_color .container {
    display: block;
    width: 1200px;
    height: 440px;
    margin: 0 auto;

}

.car_color .container .main_car {
    position: relative;
}

.car_color .container .main_car figure {
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.car_color .container .main_car p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
    color: #000;
    text-align: center;
}

.car_color_bottom .inner {
    margin-top: 30px;
}

.car_color_bottom .inner>ul {
    display: flex;
    gap: 30px;
    width: 900px;
    height: 100px;
    margin: 0 auto;
    justify-content: space-between;
}

.car_color_bottom .inner>ul>li {
    position: relative;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 0px;
    border: 1px solid #c4c4c4;
}


.car_color_bottom .inner>ul>li:active {
    opacity: 0.5;
}

.click01 {
    background: #760609;
}

.click02 {
    background: #fa6c01;
}

.click03 {
    background: #008dcd;
}

.click04 {
    background: #feff0b;
}

.click05 {
    background: #575757;
}

.click06 {
    background: #9798a1;
}

.click07 {
    background: #cfcfcf;
}

.click08 {
    background: #254c71;
}

.click09 {
    background: #f65251;
}

.click10 {
    background: #ebebeb;
}



.footer {
    background: #383838;
    color: #f8f1fa;
    /* padding: 0 0 50px 0; */
}

.footer .top {
    line-height: 80px;
    border-bottom: 1px solid #555;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.footer .top .left {
    font-size: 0;
}

.footer .top .left li {
    display: inline-block;
    font-size: 15px;

}

.footer .top .left li~li::before {
    content: "";
    margin: 0 20px;
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ddd;
}

.footer .top .right {
    display: flex;
}

.footer .top .right i {
    font-size: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 50%;
}

.footer .bottom {
    line-height: 30px;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0em
}

.footer .bottom p {
    font-size: 15px;
    font-weight: 300;
}

#f_link {
    border: none;
    outline: none;

    padding: 5px 20px;
    background: #383838;
    border: 1px solid #555;
}